{% extends 'base.html' %}

{% block titulo %}Catálogo{% endblock %}

{% block contenido %}
<div class="container py-5">
    <h2 class="text-center mb-4">Catálogo de Vehículos</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ url_for('static', filename='Image/Ford_Raptor.png') }}" class="card-img-top" alt="Vehículo 1">
                <div class="card-body">
<a href="#" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ url_for('static', filename='Image/buagtti.png') }}" class="card-img-top" alt="Vehículo 2">
                <div class="card-body">
                    <h5 class="card-title">Vehículo 2</h5>
                    <p class="card-text">Descripción del vehículo 2.</p>
                    <a href="#" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ url_for('static', filename='Image/ram_truck.png') }}" class="card-img-top" alt="Vehículo 3">
                <div class="card-body">
                    <h5 class="card-title">Vehículo 3</h5>
                    <p class="card-text">Descripción del vehículo 3.</p>
                    <a href="#" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}